@page "/"



<PageTitle>Pong game</PageTitle>

<h1>Welcom to my Pong Game</h1>
<p>Controls:</p>
<p>Player one: w,a,s,d,</p>
<p>Player two: Up,Left,Down,Right</p>
<div class="conteiner"></div>

@code {
	
}